<div class="wrapper">
  <ul id="post-list">
      {{#foreach posts}}
          <li>
              <a href='{{url}}'>
                  <b>{{title}} <small><time datetime="{{date format='DD-MM-YYYY'}}">{{date format='DD-MM-YYYY'}}</time><small></b>
                  <p>{{excerpt characters="480"}}&hellip;</p>
              </a>
          </li>
      {{/foreach}}
  </ul>

  <footer id="index-meta">
      {{pagination}}
  </footer>
</div>
