<div class="wrapper">
  <ul id="post-list">
      {{#foreach posts}}
          <li>
              <a href='{{url}}'>
                <time class="dates" datetime="{{date format='DD-MM-YYYY'}}">{{date format='DD-MM-YYYY'}}</time>
                  <b>{{title}}</b>
                  <h2>{{excerpt characters="500"}}&hellip;</h2>
              </a>
          </li>
      {{/foreach}}
  </ul>

  <footer id="index-meta">
      {{pagination}}
  </footer>
</div>
