{{!< default}}

{{#post}}

    {{> post-meta}}

    <article class="post">

    	<header class="wrapper">
    		<h1>{{title}}</h1>
    	</header>

    	<section id="post-body" class="wrapper">
        {{content}}
      </section>

      {{> share}}

      {{> comments}}

      <footer id="post-meta" class="clearfix wrapper">
        <div><span>Posté le </span> <time class="dates" datetime="{{date format='DD-MM-YYYY'}}">{{date format='DD-MM-YYYY'}}</time></div>
        <div><span>Ecrit par</span> {{author}}</div>
        <div><span>Mots-Clés</span> {{tags}}</div>
      </footer>

    </article>

{{/post}}
